.root {
    max-height: 20%;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title {
    font-size: 28px;
    font-family: 'comforta';
    color: var(--white);
    align-self: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navs {
    font-size: 15px;
    padding: 15px;
    font-family: 'montserrat';
    color: var(--white);
}

.headerItem {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerItem:hover{
    color: var(--white);
    background-color: var(--header-hover);
    border-radius: 10px;
}

.activeHeaderItem {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    background-color: var(--header-hover);
    border-radius: 10px;
    margin: 0px 10px
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}